---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>

    <!-- <meta name="google-site-verification" content="9100V7qPlKSgkXILgvgnzfZ-RkDIXZA8QKGqeGvB5dM" /> -->

    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 600px;
			}
			ul {
		display: block; 
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: 100%; 
		margin-bottom: 4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		border-radius: 12px; 
		overflow: hidden;
    padding: 0.5rem;
	}
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	ul li a {
		display: block;
		width: 100%;
	}
	.title {
		margin: 0;
		color: rgb(var(--black));
		line-height: 1.8;
	}
	.date {
		margin: 0;
		color: rgb(var(--gray));
	}
	ul li a:hover h5,
	ul li a:hover .date {
		color: rgb(var(--accent));
	}
	ul a:hover img {
		box-shadow: var(--box-shadow);
	}
  nav {
				position: fixed;
				top: 100px;
				left: 20px;
				width: 200px;
				height: 50vh;
				padding-top: 20px;
			}
			nav ul {
				padding-left: 30px;
			}
			nav ul li {
				margin-bottom: 15px;
			}
      nav ul li a {
      font-weight: bold; 
      color: #8357cf; 
      text-align: center;
      }
			nav a {
				text-decoration: none;
				color: rgb(var(--black));
			}
			nav a:hover {
				color: rgb(var(--accent));
			}
      nav ul li a:hover {
    color: #FF5722; 
}

@media (max-width: 720px) {
  nav {
    display: none;
  }
}

		</style>
	</head>
	<body>
    <nav>
			<ul>
				<li><a href="#" id="astro-btn">Astro Blog 가이드</a></li>
				<li><a href="#" id="sql-btn">SQL</a></li>
			</ul>
		</nav>
    <Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									
									<h5 class="title">{post.data.title}</h5>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const astroBtn = document.getElementById('astro-btn');

        if (astroBtn) {
        astroBtn.addEventListener('click', (e) => {
          e.preventDefault();
          window.scrollTo({
            top: 2750,
            behavior: 'smooth'
          });
        });
      }
      });
      document.addEventListener('DOMContentLoaded', () => {
        const sqlBtn = document.getElementById('sql-btn');

        if (sqlBtn) {
        sqlBtn.addEventListener('click', (e) => {
          e.preventDefault();
          window.scrollTo({
            top: 1400,
            behavior: 'smooth'
          });
        });
      }
      });
    </script>
	</body>
</html>
